@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Barlow Semi Condensed", sans-serif;
}

body {
  background-color: hsl(260, 100%, 95%);
  padding: 5rem;
}

.mainbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2em;
  div {
    border-radius: 0.5rem;
  }
  p {
    font-size: 13px;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  .card {
    padding: 1.5rem;
    box-shadow: -2px 10px 13px 0px rgba(104,80,80,0.75);
  }
  #card-1 {
    background-color: hsl(263, 55%, 52%);
    color: white;
    grid-column: span 2;
  }
  #card-2 {
    background-color: hsl(217, 19%, 35%);
    color: white;
    grid-column: span 1;
  }
  #card-3 {
    background-color: hsl(0, 0%, 100%);
    color: black;
    grid-column: span 1;
  }
  #card-4 {
    background-color: hsl(219, 29%, 14%);
    color: white;
    grid-column: span 2;
  }
  #card-5 {
    background-color: hsl(0, 0%, 100%);
    color: black;
    grid-column: 4 / 5;
    grid-row: 1 / span 2;
    p {
      color: black;
    }
  }
}

.name-box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  picture {
    margin: 0;
    padding: 0;
    object-fit: contain;
    .pfp {
      max-width: 30px;
      max-height: 30px;
      border-radius: 50%;
      border: 2px solid hsl(263, 55%, 52%);
    }
  }
  h4,
  h6 {
    margin: 0;
  }
  h4 {
    font-size: 12px;
  }
  p {
    font-size: 10px;
    color: hsl(224, 10%, 45%);
  }
  span {
    line-height: 1rem;
  }
}
p {
  color: hsl(0, 0%, 81%);
}

